*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}

h1{
  margin:0;
  padding: 0;
}

.tile{
  float: left;
  background-color: grey;
  border: 1px solid black;
  display: inline-block;
  height: 300px;
}

.container{
  width: 100%;
}

.tile-space{
  width: 66.66%;
  margin: 0 auto;
}

.top-row{
  width: 100%;
}

.about-tile{
  width: 60%;
}

.latest-projects-tile{
  width: 40%;
}

.bottom-tile{
  width: 33.33%;
}
